
//colors
$primary-color-1: #FFF;
$primary-color-2: #000;
$background-change: #F7F7F7;
$button-hover: #6B6B6B;

//fonts
$arizonia: 'Arizonia', cursive;
$garamond: 'Cormorant Garamond', serif;
$roboto: 'Roboto', sans-serif;